.portfolio {
  padding-top: 7rem;
  &__title {
    text-align: left;
    margin-block: 2rem;
    display: inline-block;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-blue);
    }
  }
  &__subtitle {
    font-size: clamp(1.5rem, 0.8rem + 3vw, 3rem);
    color: var(--color-blue);
    display: inline-block;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-blue);
    }
  }
}
