@use "./breakpoints" as mediaQuery;
html {
  font-size: 100%;
  scroll-behavior: smooth;
//   overflow-x: hidden;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-dark);
  font-family: var(--font-text);
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--color-white);
//   overflow: hidden;
}
body::-webkit-scrollbar {
  width: 12px;
}
nav,
header,
section,
footer {
  max-width: 87.5rem; //1100 PX
  margin-inline: auto;
  padding-inline: 1rem;
  @include mediaQuery.breakpoint(md) {
    padding-inline: 2rem;
  }
}
header,
section {
  min-height: 80vh;
  padding-top: 7rem;
  overflow: hidden;

}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

li {
  list-style: none;
}