@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$clr-dark :#1A2E35;
$clr-blue:#5240F8;
$clr-white : #fff;



$ff-poppins : 'Poppins', sans-serif;
$fw-regular : 400;
$fw-bold : 700;