@use "../../styles/abstracts/breakpoints" as mediaQuery;
.contact {
  position: relative;
  padding-top: 12rem;
  background-color: var(--color-white);

  &__subtitle {
    color: var(--color-blue);
    font-size: clamp(1.5rem, 0.8rem + 3vw, 3rem);
    
  }
  div:first-of-type {
    margin-block: 7rem;
    @include mediaQuery.breakpoint(md) {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    a:last-of-type {
      margin-inline: auto;
      width: 15rem;
      font-family: var(--font-header);
      
      @include mediaQuery.breakpoint(md){
        margin-inline: 0;
      }
    }
    p{
      text-align: center;
      margin-block: 2rem;
      font-family: var(--font-header);
    }
  }

  &__nav {
    text-align: center;
    

    &__item {
      text-align: center;
      margin-block: 0.75rem;
      @include mediaQuery.breakpoint(md) {
        display: inline-block;
        margin-right: 0.75rem;
      }
      &--link {
        color: var(--color-light-dark);
        font-size: 1.2rem;
        font-family: var(--font-header);
        transition: color 0.2s ease-in-out;
        &:hover,
        &:active {
          color: var(--color-dark);
        }
      }
    }
  }
  .copyRight{
    text-align: center;
    
    margin-bottom:  1rem;
    strong{
      color: var(--color-blue);
    }
  }
}
