@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.btn {
  font-size: 1.2rem;
  position: relative;
  text-align: center;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  cursor: pointer;

  svg {
    margin-right: 1rem;
    color: currentColor;
  }
  &.primary {
    color: var(--color-white);
    background-color: var(--color-blue);
    &:hover{
      opacity: 0.8;
    }
  }
  &.outline {
    color: var(--color-blue);
    font-size: 1.2rem;
    border-radius: 0.25rem;
    transition: color, background-color 0.3s ease-in-out;
    overflow: hidden;
    
    &:visited {
      color: var(--color-blue);
    }
    & span {
      position: absolute;
      display: block;
      &:nth-of-type(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, var(--color-blue));
        animation: btn-anim1 1s linear infinite;
      }
      &:nth-of-type(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, var(--color-blue));
        animation: btn-anim2 1s linear infinite;
        animation-delay: 0.25s;
      }
      &:nth-of-type(3) {
        right: -100%;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, var(--color-blue));
        animation: btn-anim3 1s linear infinite;
        animation-delay: 0.5s;
      }
      &:nth-of-type(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, var(--color-blue));
        animation: btn-anim4 1s linear infinite;
        animation-delay: 0.75s;
      }
    }
  }
}
